@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}
#bg-pink {
  background-color: #e83e8c;
}
.logo {
  height: 4rem;
}
